/* Montserrat and Ubuntu fonts */
@font-face
{
    font-family: 'Montserrat-Black';
    src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face
{
    font-family: 'Montserrat-Bold';
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face
{
    font-family: 'Montserrat-Regular';
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: 'Ubuntu-Bold';
    src: url("../fonts/Ubuntu/Ubuntu-Bold.ttf") format("truetype");
}

@font-face
{
    font-family: 'Ubuntu-Medium';
    src: url("../fonts/Ubuntu/Ubuntu-Medium.ttf") format("truetype");
}

@font-face
{
    font-family: 'Ubuntu-Regular';
    src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf") format("truetype");
}

@font-face
{
    font-family: 'Ubuntu-Light';
    src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("truetype");
}

/* MARKETING CONTENT : chez moi ce sont les profiles
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4
{
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 
{
    font-weight: 400;
}
/* rtl:begin:ignore */

.marketing .col-lg-4 p
{
    margin-right: .75rem;
    margin-left: .75rem;
}
/* rtl:end:ignore */


/*Media Queries*/
@media (max-width:1028px) 
{
    #title
    {
        text-align: center;
    }
}

/* Body */
body
{
    text-align: center;
    font-family: 'Merriweather', serif;
    padding-top: 70px;
}

/* Title and NavBar */
.navbar
{
    padding: 0 0 4.5rem;
    background-color: #10C794; /*info Bootstrap color*/

}

.navbar-brand
{
    font-family: 'Ubuntu-Medium', sans-serif;
    font-size: 2.5rem;
    padding: 0 2rem;
}

.nav-item
{
    padding: 0 18px;
}

.nav-link
{
    font-family: 'Ubuntu-Light', sans-serif;
    font-size: 1.67rem;
}

.navbar-brand:hover, .nav-link:hover
{
    font-family: 'Alegreya Sans', serif;
    font-size: 2rem;
    font-weight: bold;
}

/* Petite description avant les profiles */

#profiles-description
{
    background-color: #10C794;
    font-family: 'Alegreya Sans', 'Merriweather', sans-serif;
}

#profiles-description h1
{
    font-size: 4rem;
}

/* Profiles Section */

#profiles
{
    padding: 7% 6%;
    font-family: 'Alegreya Sans', serif;
    margin: 5% 0;
}

.profiles-h2
{
    font-size: 2.5rem;
}

.profiles-p
{
    font-family: 'Ubuntu-Regular', 'Alegreya Sans', serif;
}

#profiles img
{
    margin-bottom: 30px;
    margin: auto;
}

/* Hover Bootstrap Cards*/
.card
{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    cursor: pointer;
}

.card:hover
{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    background-color: #10C794; 
    /* #07DEDE */
    color: #fff;
}

/* Footer */

#footer
{
    padding-bottom: 6rem;
    padding-top: 4rem;
    background-color: #10C794;
    text-align: center;
}

.footer-link
{
    color: #06D425;
    padding: 2.5rem;
    /* text-decoration: none; */
}

.footer-link:hover
{
    color: #AFEEEE;
    font-size: 4rem;
}

.footer-copyright
{
    position: relative;
    top: 2.6rem;
    color: #FFF;
}

.footer-link, .footer-copyright, p.text-end
{
    font-family: 'Ubuntu-Regular', 'Montserrat-Regular', sans-serif;
    font-size: 1.5rem;
}

/* Pour le lien "Back to top" */
.text-end   
{
    text-align: right;
    padding-right: 3%;
}

.text-end a
{
    text-decoration: none;
    color: #fff;
}

.text-end a:hover
{
    text-decoration: none;
    font-size: 2rem;
    color: #AFEEEE;
}
